.portfolio_top h6 {
  color: #7865ff;
  margin-bottom: 15px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  /* margin: 20px 50px; */
}

.project_container {
  width: 100%;
  height: 400px;
  position: absolute0;
  left: 50%;
  top: 50%;
  transform: translate(-0%, -0%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.portfolio-container img {
  height: 100%;
  width: 100%;
}
.info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: #102048;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.project_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.project_container:hover .info {
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.project_content h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 700;
}
.project_content button {
  border: 0;
  padding: 8px;
  background-color: #00ffff;
  color: rgb(15, 5, 73);
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  height: 40px;
}
.project_content button a {
  text-decoration: none;
}
.project_content button:hover {
  text-decoration: none;
  color: rgb(20, 14, 56);
  background: #08e05b;
}

.more-button button {
  border: 0;
  width: 300px;
  padding: 10px 10px;
  border-radius: 15px;
  font-weight: bold;
  background: #0f47d4;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.more-button button:hover {
  background: #00ffff;
  color: #010614;
  font-weight: bold;
}

/* responsive */
@media only screen and (max-width: 576px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px 10px;
  }
}
