.about_btns {
  background: #102048;
  border-radius: 10px;
}
.about_btn {
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #7865ff;
  border-radius: 5px 5px 5px 5px;
}
.about_btn-active {
  background: #7865ff;
}
.about_btn:last-child {
  border-bottom: 0;
  border-radius: 0px 0px 5px 5px;
}
.about_content_wrapper {
  background: #132347;
  padding: 30px;
  border-radius: 10px;
}
.about_content h2 {
  margin-bottom: 15px;
}
.about_content p {
  line-height: 30px;
  font-weight: 300;
}
.social_links span i {
  color: #7865ff;
  font-size: 22px;
}
.social_links span {
  margin-right: 15px;
}
.about_img {
  background: #7865ff;
  border-radius: 10px;
  height: 200px;
}
