.award_container {
  padding: 20px;
}

.single_award {
  background: #132347;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  
}
.award_title {
  font-weight: 300;
  color: #fff;
  /* opacity: 70; */
  background: rgba(8, 122, 167, 0.767);
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.single_award p{
  background:rgb(27, 19, 73);
  padding: 10px 15px ;
  margin-top: -14px;
  border-bottom: 2px solid wheat;
  border-radius: 0px 0px 10px 10px;

  
}

@media only screen and (max-width: 576px) {
  .award_container {
    padding: 10px;
  }
  .award_title {
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
    opacity: 70;
  }
  .single_award{
      height: 340px;
  }
}
