.title_name {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(80, 204, 204);
}
.title_value {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 20px;
  color: rgb(80, 204, 204);
}
.experience_wrapper {
  background: #132347;
  padding: 20px;
  border-radius: 10px;
}
