.single_info_box {
  background: #132347;
  padding: 20px;
  border-radius: 8px;
  border-bottom: 1px solid #7865ff;
  margin-bottom: 35px;
  margin-right: 20px;
}
.single_info_box p {
  font-weight: 300;
  margin-top: 10px;
  font-size: 0.9rem;
  margin-bottom: 0;
}
.single_info_box h6 {
  font-size: 1.3rem;
  font-weight: bold;
}

/* responsive */

@media only screen and (max-width: 576px) {
  .single_info_box {
    padding: 10px;
    margin-right: 10px;
    
    overflow: hidden;
  }
  .single_info_box p {
    font-weight: 300;
    margin-top: 10px;
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}
