.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header_wrapper {
  padding-top: 30px;
}

.nav_list {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav_item a {
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

/* .nav_item a:hover {
  color: #7865ff;
} */
.nav_item {
  padding: 10px 15px;
}

.nav_item:hover {
  clip-path: polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
  /* transition: all .5s; */
  background-color: chocolate;
  padding: 10px 15px;
  font-weight: 500;
}
.logo h5 {
  font-size: 1.3rem;
  color: #7865ff;
  font-weight: bold;
}

.btn {
  background: #7865ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 25px;
}

.mobile_menu i {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
.mobile_menu {
  display: none;
}
.btn:hover {
  color: #fff;
}

.header_shrink {
  background: #132347;
  box-shadow: 2px 2px 4px -2px #7765ffb6;
  padding-bottom: 10px;
}

/* responsive */

@media only screen and (max-width: 992px) {
  .nav_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7765ff81;
    z-index: 888888;
    display: none;
  }
  .nav_list {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #132347;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
  }
  .nav_item {
    margin: 20px;
  }

  .menu_active {
    display: block;
  }
  .mobile_menu {
    display: block;
  }
  .btn {
    display: none;
  }
  .header {
    height: 50px;
    line-height: 50px;
  }
}
